@model IEnumerable<JQueryAjaxCoreMVC_CRUD.Models.TransactionModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><i class="fas fa-comments-dollar text-success"></i>Transaction History</h1>

<div id="viewAll">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

